<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Memory Game</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <link rel="stylesheet" href="lib/bootstrap.min.css" />
  <link rel="stylesheet" href="mem.css"/>
  
</head>
<body ng-app="memoryGameApp">
<div class="container-fluid" ng-controller="AppCtrl">
  <h1>Memory Game</h1>

	<div class="row">
		<!-- Sidebar/Nav -->  
		<div class="col-xs-3 col-md-2 col-lg-1 sidebar" >
            <li menu-item ng-repeat="menuItem in menu"
                class="menu-animation"
                ng-class="{'highlight':active}"
				ng-click="changeGame(menuItem)"
                ng-mouseenter="active = true"
                ng-mouseleave="active = false">{{menuItem.title}}</li>
		</div>
		<!-- Content -->
		
		<div class="col-xs-9 col-md-10 col-lg-11" ng-show="showGame">
			<card class="cardWrapper answer-animation" 
					  ng-repeat="x in data.cards"  
					  ng-class="{'answer':showAnswer}"
					  ng-click="validate($event,$index, x.id)"
					  ng-disabled="isDisabled" >
						  
					<div class="card">
						<div class="cardFace front" ><h1>(-:</h1></div>
						<div class="cardFace back" style="background-color:{{x.colour}}; " ><h1>{{x.name}}</h1></div>
					</div>
			</card>
		</div>
	</div>
</div>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/TweenMax.min.js"></script>
	<script src="lib/tinycolor.js"></script>

	
	<script src="mem.js"></script>
	<script src="factories.js"></script>
	
</body>
</html>